// material colors
$red-color: #F44336;
$pink-color: #E91E63;
$purple-color: #9C27B0;
$deepPurple-color: #673Ab7;
$indigo-color: #3F51B5;
$blue-color: #2196F3;
$lightBlue-color: #03A9F4;
$cyan-color: #00BCD4;
$teal-color: #009688;
$green-color: #4CAF50;
$lightGreen-color: #8BC34A;
$lime-color: #CDDC39;
$yellow-color: #FFEB3B;
$amber-color: #FFC107;
$orange-color: #FF9800;
$deepOrange-color: #FF5722;
$brown-color: #795548;
$grey-color: #9E9E9E;
$blueGrey-color: #607D8B;
$white-color: #FFFFFF;
$black-color: #000000;