@import 'colors';

body{
  background: #F5F5F5;
}

.login-container{
  margin-top: 80px;
  background: #fff;
  .login-form-button{
    width: 100%;
  }
}

.login-logo-container{
  text-align: center;
  padding: 50px 15px 0 15px;
  img{
    width: 100%;
    max-width: 350px;
  }
}

@import 'helpers';
@import 'design_overrides';
@import 'navigation';